{% extends 'base.html' %}
{% block body %}



<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" style="border-radius: 20px;">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src="{{movie.img.url}}" width="350px"height="250px>

            <a href="#!">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p><a  class="text-dark">{{movie.name}}</a></p>

              </div>
              <div>
                <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                 <p class="small text-muted">{{movie.year}}</p>

              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p><a  class="text-dark">{{movie.desc}}</a></p>
              <p class="text-dark"></p>
            </div>

          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
        <a class="btn btn-danger" href="{% url 'delete' movie.id %}">DELETE</a>
            <a class="btn btn-warning" href="{% url 'update' movie.id %}">UPDATE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


















{% endblock %}
